:root {
    --dark-btn: #363636;
    --red-btn: #C93333;
    --dark-text: #000000;
    --bright-text: #FFFFFF;
    --background: #D9D9D9;
    --font: Inter;
}

* {
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header, main {
    background-color: var(--background);
}

/* HEADER */
.name {
    color: var(--bright-text);
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
}
.nav {
    padding-block: 1em;
}
.nav-menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
    background-color: var(--dark-text);
    margin-inline: 2.5em;
    border-radius: 25px;
}

.nav-link {
    text-decoration: none;
    padding: 2em;
    color: var(--bright-text);
    font-weight: bold;
}

/* MAIN CONTAINER */
main {
    padding: 1em;
    height: 70vh;
}
.main-container {
    background-color: var(--bright-text);
    margin-inline: 1.5em;
    padding-top: 1em;
    border-radius: 20px;
    height: auto;
}

/* PROFILE */
.profile-name, .yourMovies-name {
    text-align: center;
    font-weight: lighter;   
}
.profile-container, .yourMovies-container {
    display: flex;
    flex-direction: row;
    padding: 1em 3em 0;    
}
.profile-container > div {
    padding: 1em;
}
.profile-info {
    transform: translateY(2em);
}
.line {
 line-height: 1.5;
}

.profile-btn1, .profile-btn2 {
    border:none;
    color: var(--bright-text);
    background-color: var(--dark-btn);
    border-radius: 20px;
    padding: 0.5em 2em;
    margin: 0 0 2.5em 5em;
    cursor: pointer;
}
.profile-btn2 {
    transform: translateX(-3em);
}

/* Your Movies */

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: 2em;
    
}
th, td {
    text-align: left;
    padding-inline: 2em;    
}
td {
    background-color: var(--background);    
}

td:first-child{
    border-radius: 25px 0 0 25px;
}
td:last-child {
    background-color: transparent;
    padding: 0;
}
.sign {
    background-color: var(--dark-text);
    color: var(--bright-text);
    padding-inline: 0.3em;
}
.time{
    background-color: var(--bright-text);
    color: var(--dark-text);
    padding-inline: 0.5em;
}
.button-remove {
    border: none;
    background-color: var(--red-btn);
    color: var(--bright-text);    
    font-size: 1.1em;
    cursor: pointer;
    padding: 0.5em;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 2em 1em 2em;
    color: var(--bright-text);
    background-color: var(--dark-text);
}